
body{
    background-image: linear-gradient(white,gray);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
aside{
    float: left;
    width: 30%;
    padding: 1rem;
    margin: 1.5%;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    border: 1px solid #333;
    background-color: gray;
}
section{
    float: left;
    width: 63%;
    padding: 1rem;
    margin: 1.5%;
    background-color: whitesmoke;
}
img{
    float: right;
    width: 40%;
    padding: 1rem;
    margin: 1.5%;
    background-color: whitesmoke;
    

}
article{
    float: right;
    width: 70%;
    padding: 1rem;
    margin: 1.5%;
    background-color: whitesmoke;
    transition: ease-in-out 2s;
}
article:hover{
    transform: rotate(-3deg);
    transition: ease-in-out 2s;
}

img{
    width: 400px;
    height: 400px;
}
nav{
    padding: 1rem;
    border:3px solid #333;
}
img:hover{
    filter: blur(2px);
}

h1{
    background-color: beige;
    padding: 1rem;
    text-align: center;
}

li{
    background-color: beige;
    padding: 1rem;
}
footer p{
    text-align: center;
}
.wireframe{
    max-height: 2000px;
    max-width: 2000px;
}